html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#map {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 70%;
	z-index: 50;
}

#hun {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 30%;
	right: 0;
	border: 1px solid black;
	z-index: 50;
}

#county {
	position: absolute;
	top: 0;
	bottom: 50%;
	left: 30%;
	right: 0;
	border: 1px solid black;
	z-index: 50;
}

.break {
	flex-basis: 100%;
	height: 0;
}

#data {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
	grid-column: span 6;
	cursor: pointer;
}

#type,
#time_type {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
	grid-column: span 3;
	cursor: pointer;
}

#year {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	max-width: 45%;
	flex-wrap: wrap;
	bottom: 1em;
	left: 1em;
	text-align: left;
	z-index: 100;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
}

#year button {
	grid-column: span 2;
}

#help {
	position: absolute;
	overflow: auto;
	bottom: 1em;
	left: 1em;
	right: 1em;
	top: 1em;
	z-index: 200;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1em;
	margin: 0;
}

button {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 0.25em;
	cursor: pointer;
}

button.selected {
	background-color: lightgreen;
}

a {
	text-decoration: none;
}

@media (max-aspect-ratio: 4/3) {
	#map {
		right: 60%;
	}

	#hun {
		left: 40%;
	}

	#county {
		left: 40%;
	}
}
